@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

a,
li {
  text-decoration: none;
  list-style: none; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  display: grid;
  grid-template-rows: repeat(4, 100vh);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14.2rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.navbar {
  background-color: #333333;
  padding: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  z-index: 99; }
  .navbar__list {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-column-gap: 2rem;
    align-items: center;
    margin-left: 1rem; }
  .navbar__logo {
    background-color: #282828;
    padding: 1rem 1rem;
    border-radius: 7px; }
  .navbar__item {
    border-right: 1px solid #8d8d8d;
    padding: 0 2.2rem 0 1rem; }
  .navbar__link {
    color: #c9c9c9; }
  .navbar__button {
    color: #c9c9c9;
    transition: all .3s;
    background-color: #282828;
    padding: 0.2rem 2rem;
    border-radius: 9px;
    align-self: center; }
  .navbar__download {
    align-self: center; }
  .navbar__bg {
    background-image: url(../img/bg4.png);
    width: 100%;
    height: 130%;
    margin-top: 6.6rem;
    background-size: cover;
    background-position: center;
    z-index: 9;
    position: relative; }

.text-box {
  position: relative;
  top: 25rem;
  left: 8rem;
  display: inline-block; }

.heading__text {
  margin-top: -5rem; }

.heading__content {
  display: grid;
  grid-template-columns: max-content min-content;
  grid-column-gap: 7rem; }

.heading-1 {
  font-size: 6.6rem;
  color: #fdfcf9;
  text-transform: uppercase;
  margin-top: -3rem; }

.heading-2 {
  font-size: 2.6rem;
  color: #fdfcf9;
  text-transform: uppercase;
  display: block;
  font-weight: 300;
  margin-top: -3rem; }

.heading-3 {
  font-size: 4rem;
  font-weight: 400;
  color: #fdfcf9;
  text-transform: uppercase;
  display: inline-block;
  display: grid;
  justify-items: center; }

.heading__play {
  display: grid;
  justify-items: center;
  align-self: center; }

.b-play {
  border-radius: 100%;
  border: 6px solid #fdfcf9;
  padding: 4.5rem;
  font-size: 4rem;
  color: #fdfcf9; }

.about__text-box {
  display: grid;
  align-items: center; }

.about__text-box2 {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 2rem;
  color: #fdfcf9;
  align-content: center; }

.about__content {
  text-align: center; }

.about__heading-1 {
  font-size: 6.6rem;
  color: #fdfcf9;
  text-transform: uppercase;
  margin-top: -3rem; }

.about__heading-2 {
  font-size: 2.6rem;
  color: #fdfcf9;
  text-transform: uppercase;
  display: block;
  font-weight: 300;
  margin-top: -3rem; }

.about__heading-3 {
  font-size: 4rem;
  font-weight: 400;
  color: #fdfcf9;
  text-transform: uppercase;
  display: inline-block;
  display: grid;
  justify-items: center; }

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem;
  padding: 10rem 10rem; }

.box__paragraph {
  margin-top: 1.7rem;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 1px; }

.box1 {
  position: relative;
  z-index: 10; }
  .box1__heading1 {
    font-size: 4.2rem;
    font-weight: 400;
    line-height: 1.2; }
  .box1__heading2 {
    font-size: 4.2rem;
    font-weight: 400;
    line-height: 1.2; }

.box2__heading1 {
  font-size: 4.2rem;
  font-weight: 300; }

.box3__heading1 {
  font-size: 4.5rem;
  font-weight: 300; }

.solution {
  padding: 10rem 10rem; }
  .solution__box1 {
    display: grid;
    justify-items: start; }
  .solution__heading {
    text-align: center;
    color: #fdfcf9;
    font-size: 5rem;
    font-weight: 300; }
  .solution__heading1 {
    color: #fdfcf9;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 300;
    letter-spacing: 1px; }
  .solution__main-box {
    display: grid;
    grid-template-columns: 45rem 45rem;
    grid-gap: 2rem;
    padding: 3rem;
    justify-content: center; }
  .solution__paragraph {
    font-size: 1.5rem;
    color: #fdfcf9;
    margin-top: 1rem; }

.footer {
  padding: 10rem 10rem; }

.middle {
  text-align: center; }
  .middle__link {
    color: #fdfcf9;
    padding-right: 1rem; }

.video {
  display: grid;
  grid-template-columns: max-content 25rem;
  justify-content: center; }
  .video__img {
    height: 40rem;
    width: auto;
    margin-top: 1rem; }
  .video__text {
    display: grid;
    align-items: space-between; }
    .video__text p {
      margin-top: 5rem;
      color: #fdfcf9;
      font-size: 1.3rem; }

.button {
  background-color: #178bc1;
  color: #fdfcf9;
  display: inline-block;
  padding: 1rem 4rem;
  border-radius: 9px;
  justify-self: start;
  align-self: end; }

.header {
  background-color: #707070;
  grid-column: full-start / full-end; }

.about {
  background-color: #0c353d;
  grid-column: full-start / full-end; }

.solution {
  background-color: #0c353d;
  grid-column: full-start / full-end; }

.footer {
  background-color: #164355;
  grid-column: full-start / full-end; }
