.header {
  background-color: rgb(112, 112, 112);
  grid-column: full-start / full-end;
}

.about {
  background-color: #0c353d;
  grid-column: full-start / full-end;
}

.solution {
  background-color: #0c353d;
  grid-column: full-start / full-end;
}

.footer {
  background-color: #164355;
  grid-column: full-start / full-end;
}
